.footer{
    width: 100%;
    background-color: black;
    height: 100px;
    text-align: center;
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
}

.inner-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.inner-footer h1{
    font-size:20px;
}
.inner-footer .footer-logo{
    font-size: 34px;
    padding-top: 8px;
}

.footer a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}